<!-- Need to move some inline styles to style sheet -->
<div style="position: relative; width: 100%; height: 100%">
    <div style="overflow-y: scroll; overflow-y: hidden; position: absolute; top: 0; left: 0; right: 0; height: 37px; margin: 0; padding: 0;">
        <div id="app_title_line">
            <div class="span12">
                <div style="padding: 8px">
                    <img class='smart_bug' src='img/smart_bug.png' />SMART Disease Monograph {{sharedVars.version}}
                </div>
            </div>
            <div style="clear: both"></div>
        </div>
    </div>
    <div style="overflow-y: scroll; overflow-x: hidden; position: absolute; top: 37px; left: 0; right: 0; bottom: 0; margin: 0; padding: 0;">

        <div ng-include src="'views/partials/_preferences.html'"></div>
        <div ng-include src="'views/partials/_monographheader.html'"></div>

        <div style="box-sizing: border-box; margin: auto;">
            <div class='span3 alpha col'>
                <div class="sortable section" section data-template="problem_section.html" />
                <div class="sortable section" section data-template="vitals_section.html" />
                <div class="sortable" section data-template="otherinfo_section.html" />
            </div>
            <div class='span3 col'>
                <div class="sortable section" ng-include src="'a1cgraph_template.html'" onload="graph.plota1c()"></div>
                <div class="sortable section" ng-include src="'bpgraph_template.html'" onload="graph.plotbp()"></div>
                <div class="sortable section" section template="labresults_section.html" />

            </div>
            <div class='span6 col'>
                <div class="sortable section" ng-include src="'ldlgraph_template.html'" onload="graph.plotldl()"></div>
                <div class="sortable section" section template="decisionsupport_section.html" />
                <div class="sortable section" section template="allergy_section.html" />
                <div class="sortable section" section template="medicine_section.html" />
            </div>
            <div style="clear: both"></div>
        </div>
    </div>
</div>

<script>
    // This will become a directive when we allow for saved layouts (V2.0 release?)
    $(function () {
     
        var margin_bottom; // Fix for IE 8
        //$('div.sortable').bind('mousedown', function () {
        //    margin_bottom = $(this).css('margin-bottom');
        //}).css('cursor', 'pointer');
        $(".col").sortable({
                items: 'div.sortable',
                connectWith: ".col",
                handle: 'header',
               
                tolerance: 'pointer',
                over: function (event, ui) {
                    ui.item.width(ui.placeholder.width());
                   
                },
                start: function (event, ui) {
                   
                    ui.placeholder.css('margin-bottom', ui.item.css('margin-bottom'));
                },
            });
    
            //$(".col,header,.section-content").disableSelection();
       
    });
</script>

<!-- The following will be replaced with directives -->
<script type="text/ng-template" id="a1cgraph_template.html">
    <div class="section">
    <header class="section_header">
    A1C <span class="smaller" style="font-weight: normal">goal < 7%</span>
    </header>
    <div id='a1c_graph'></div>
    </div>
</script>
<script type="text/ng-template" id="ldlgraph_template.html">
    <div class="section">
    <header class="section_header">
    LDL <span class="smaller" style="font-weight: normal">goal < 100 mg/dL</span>
    </header>
    <div id='ldl_graph'></div>
    </div>
    
</script>
<script type="text/ng-template" id="bpgraph_template.html">
    <div class="section">
    <header class="section_header">
    BP <span class="smaller" style="font-weight: normal">goal < 130/80 mm/hg</span>
    </header>
    <div id='bp_graph'></div>
    </div>
</script>

