<style>
    .resolved
    {
        color: green;
    
    }
    .adjust
    {
        color: blue;
    }
    .discontinue
    {
        color: #999999;
        text-decoration: line-through;
    }
</style>
<div id="medicines" ng-mouseleave="medicineViewModel.cartUnselect()">
    <header class="section_header" id="medications">Medications</header>
    <div section-editor template="medicine_editor.html"></div>
    <div class="section-content">
        <ul class="unstyled">
            <li ng-show="medicineViewModel.medicines.length==0">No known medicines</li>
            <li  ng-repeat="med in medicineViewModel.medicines"  ng-mousedown="problemMedSemanticViewModel.medMouseDown(med)" ng-mouseup="problemMedSemanticViewModel.medMouseUp(med)" ng-mouseover="problemMedSemanticViewModel.medMouseOver(med)" ng-mouseleave="problemMedSemanticViewModel.medMouseLeave(med)"  ng-style="med.style">
                <div>
                    <span cart-editor template="medicine_cart_editor.html" ng-model="med" enabled="sharedVars.enableCart"></span>
                    <span ng-class="med.status" ng-click="medicineViewModel.setSelected(med)" style="cursor:pointer"> <span ng-show="medicineViewModel.sort=='chrono'">{{med.startDate}} </span>{{med.rxName}} {{ med.strengthAndDoseForm}}<span style="color: gray"> &middot; {{med.ins}}</span><span ng-show="med.isDirty"> ({{med.status}})</span></span>
                </div>
            </li>
        </ul>
    </div>
</div>
